<div class="users-text-panel">
  <p>Check out some of the climbers in our community.</p>
  <% @users.each do |user| %>
  <li>name: <a href="/users/<%= user[:id] %>"><%= user[:name] %></a>  |
  <% if user.climbs.any? %>
    <% rec_climb = Ascend.find(user.climbs.last.ascend_id) %>
      recent climb:  <a href="/ascends/<%= rec_climb.id %>"><%= rec_climb.name %></a></li>
  <% end %>
<% end %>
</div>

<div class="users-text-panel">
  <p>This site could not have been coded without the incomparable assistance of the new guidebook, <a href="http://stores.sharpendbooks.com/-strse-71/New-York-City-Bouldering/Detail.bok">NYC Bouldering</a>, written by Gaz Leah. He's an awesome guy, and anyone interested in climbing should pick up the book at the <a href="http://thecliffsclimbing.com/lic/">Cliffs LIC</a>. <br><br>Hope to see you at Rat Rock or the gym! <br><br>Matt</p>
</div>