<div class="mmmain">
  <p>Check out some of the climbers in our community.</p>
  <% @users.each do |user| %>
  <li>name: <a href="/users/<%= user[:id] %>"><%= user[:name] %></a>  |
  <% if user.climbs.any? %>
    <% rec_climb = Ascend.find(user.climbs.last.ascend_id) %>
      recent climb:  <a href="/ascends/<%= rec_climb.id %>"><%= rec_climb.name %></a></li>
  <% end %>

<% end %>
</div>

<div class="photo_m"><img src="img_0214.jpg"></div>