<div class="text1">
<% @user.climbs.each do |climb| %>
<div class="mmmain">  <% ascend = Ascend.find(climb[:ascend_id]) %>
<div class="route"> <li><a href="/ascends/<%= climb[:ascend_id] %>"><%= ascend[:name] %></li></div>
<div class="deets"> <li><%= link_to 'Add some details to this climb', edit_user_climb_path(@user, climb) %></li></div>
</div>
<% end %>
</div>
<br>
<h3><%= link_to 'Add a new climb to your done list', new_user_climb_path(@user) %></h3>