#myCanvas
	min-height: 25em

.new-ascend-form
	background-color: rgba(255, 255, 255, .85)
	max-width: 75%
	min-height: 25em
	border: black 1px solid
	padding: 15px
	margin: 15px

.new-ascend-form form

.new-ascend-form label
	min-width: 30%
	display: inline-block

.new-ascend-form
	margin-top: 51px