header {
  background-color: #2F363E;
  margin-bottom: 40px;
}

html {
  background: url("/assets/IMG_0214.jpg") no-repeat center center;
  background-size: cover;
}

a, a:link, a:visited {
color: red;
}

.login {
  padding-left: 150px;
  padding-top: 150px;
}
.container {
  line-height: 1.4;
  width: 80%;
  margin: 0 auto;
}

.mmmain {
  margin-bottom: 9%;
}

.user_name_main {
  float: left;
}

.photo_m {
  float: left;
  margin-bottom: 9%;
}

.text1 {
  background-color: rgba(255, 255, 255, .85);
  width: 40%;
  border: black 1px solid;
  padding: 15px;
  margin: 15px;
}

.text1 a, .text1 a:link, .text1 a:visited{
  color: red;
}

.login label {
  width: 100px;
  display: inline-block;
}

.photo_m img {
  width: 25%;
  height: 25%;
}

.rat_routes {
  margin-bottom: 25px;
}

[role="banner"] h1{
margin: 0;
}

[role="banner"] {
color: #EEEEEE;
}

.user_edit {
  margin-top: 44px;
}