[role="banner"] h1 {
  margin: 0 0 0 -10px;
}

[role="banner"] p {
  margin-left: -10px;
  margin-top: -1px;
}

[role="banner"] {
  color: #EEEEEE;
}

.container {
  line-height: 1.4;
  width: 80%;
  margin: 0 auto;
}

.spacer-main {
  margin-bottom: 1%;
}

.mmmain {
  margin-bottom: 9%;
}

.user_name_main {
  float: left;
}

.intro-text-panel {
  background-color: rgba(255, 255, 255, .85);
  border: black 1px solid;
  padding: 15px;
  margin: 0 0 3% 10%;
  width: 50%;
  float: left;
  clear: both;
}

.text2 {
  background-color: rgba(255, 255, 255, .85);
  float: left;
  position: absolute;
  margin-top: 200px;
  width: 40%;
  border: black 1px solid;
  padding: 15px;
  margin: 15px;
}

.text3 {
  background-color: rgba(255, 255, 255, .85);
  width: 40%;
  border: black 1px solid;
  padding: 15px;
  margin: 15px;
}

.crag-description {
  background-color: rgba(255, 255, 255, .85);
  border: black 1px solid;
  padding: 15px;
  margin-bottom: 3%;
}

.crag-routes {
  background-color: rgba(255, 255, 255, .85);
  border: black 1px solid;
  padding: 15px;
  margin-bottom: 5%;
}

#gmap {
  margin-bottom: 2%;
  margin-left: -10px;
  position: relative;
  overflow: hidden;
}

#gmap iframe {
  position: relative;
  width: 100%;
  height: 100%;
}

.rat-collage-map {
  padding: 15px;
}

.rat-collage-map img {
  max-width: 100%;
  border-radius: 20%;
}


.text1 a, .text1 a:link, .text1 a:visited{
  color: red;
}

.login label {
  width: 100px;
  display: inline-block;
}

/*EDIT USER STUFF*/


.edit_user input {
  width: 85%;
}

.user-edit-form {
  background-color: rgba(255, 255, 255, .85);
  width: 50%;
  border: black 1px solid;
  padding: 15px;
  margin: 15px;
}

.user-edit-form label {
  min-width: 80%;
  display: inline-block;
}


/* EDIT USER STUFF END */

.new_user {
  background-color: rgba(255, 255, 255, .85);
  border: black 1px solid;
  padding: 15px;
  margin: 15px;
}

.new_user input {
  width: 80%;
  display: inline-block;
}

.new_user label {
  margin-right: 2%;
}


.user_edit {
  margin-top: 51px;
}

.deets a li {
  font-size-adjust: .6;
}

.avatar {
  float: right;
  margin-top: -20%;
  margin-right: 10%;
}

.avatar img {
  border-radius: 2%;
  margin-top: 22%;
}

.users-text-panel {
  background-color: rgba(255, 255, 255, .85);
  border: black 1px solid;
  padding: 15px;
  margin: 0 0 3% 10%;
  width: 50%;
  float: left;
  clear: both;
}


/* ASCEND FORM STUFF*/

.new_ascend input {
  width: 70%;
}

.ascends-text-panel {
  background-color: rgba(255, 255, 255, .85);
  border: black 1px solid;
  padding: 15px;
  margin: 0 0 3% 10%;
  width: 50%;
  float: left;
  clear: both;
}

/* END ASCEND FORM STUFF*/

/*Climb EDIT FORM*/

.edit_climb {
  background-color: rgba(255, 255, 255, .85);
  width: 50%;
  border: black 1px solid;
  padding: 15px;
  margin: 0 0 3% 10%;
}


/* END Climb EDIT FORM*/

.hidden {
  display: none;
}

#myCanvas {
  cursor: crosshair;
}

#shutter-click {
  background-color: rgba(255, 255, 255, .85);
  border-radius: 5%;
}