<div class="rapper">


  <div class="unit two-fifths">
    <div class="rat_routes">
      <h1>The Routes</h1>
      <% @ascends.each do |ascend| %>
      <br>
      <div class="rat_climbs"><li><a href="/ascends/<%= ascend[:id] %>"><%= ascend[:name] %></a></li></div>
      <% end %>
    </div>
  </div>


  <div class="unit one-fifth">
    <div id="text4">
      <h1>Rat Rock</h1>
      <p>Rat Rock is the premiere location to boulder in Central Park. On a given day you can find local residents who have been at the crag for decades as well as tourists taking a break from New York's other offerings to enjoy the park. The scene here is as friendly as it is storied. Below are most of the featured routes as well as where they reside on the rock.</p>
    </div>

    <div id="photo_m"><img src="Untitled-1.jpg"></div>

    <div id="gmap">
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=210710847461107118193.0004e9bdb8f0d4e4e265c&amp;ie=UTF8&amp;t=m&amp;z=17&amp;output=embed"></iframe><br /><!-- <small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=210710847461107118193.0004e9bdb8f0d4e4e265c&amp;ie=UTF8&amp;t=m&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">Rat Rock</a> in a larger map</small> -->
    </div>

  </div>

</div>