<header role="banner">
  <nav>
    <div class="container">
      <h1>Welcome to the Grand Send Station</h1>
    <% client = Weatherman::Client.new %>
    The temperature is: <%=client.lookup_by_location('11101').condition['temp']%> degrees, celsius. Perfect for climbing in Central Park!
      <!--
        <ul>
          <li>Home</li>
          <li>Contact</li>
          <li>Profile</li>
        </ul>
       -->
     </div>
  </nav>
</header>
