<p>The temperature is: <%= @weather.current_temp %> degrees, F. 
<% if @weather.current_temp.to_i >= 35 && Time.now.hour >= 5 && Time.now.hour <= 21 %> 
  <%= " Perfect for climbing in Central Park!" %> 
<% else %> 
  <%= "Tomorrow is going to be a great day to climb!" %> </p>
<% end %>