<!DOCTYPE html>
<html>
<head>
  <title>Grand Send Station</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">

  </div>

<%= flash[:notice] %>


<%= yield %>
<br><br>
<%= render partial: 'layouts/footer' %>
</body>
</html>
